<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, labore.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia,
        blanditiis rerum accusamus nihil iste amet consequatur ratione maxime
        maiores nesciunt?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, labore.
    </p>
  </div>
</section>
