<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start and manage update</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate saepe
      dolores ullam repudiandae eos voluptatem aliquid illo temporibus qui
      obcaecati aspernatur, repellendus voluptas fugit voluptatibus.
    </p>
  </div>
</div>
